<% if flash[:errors] %>
  <div class="errors">
    <% flash[:errors].each do |error| %>
      <%= error %>
      <!-- watch your indent here -->
      <% end %>
    </div>
  <% end %>

  <% if flash[:notice] %>
    <div class="notices">
      <%= flash[:notice] %>
    </div>
  <% end %>
