<% @posts.each_with_index do |post, i| %>
  <div><%= "#{i+1}. " %><%= link_to (post.title),  post_path(post.id) %>  (<%= find_user(post)%>) (# votes) &nbsp&nbsp <a class="vote" href="/">vote up!</a></div>
<% end %>
